

.focussed{
  background-color: #ddff00;
}
// .manifest-row{
//   width:100%;
//   border-top: white 1px solid;
//   border-bottom: lightgray 1px solid;
// }
.cost-row{
  width:100%;
  font-size: 0.8em;
  text-indent: 1em;
  border-top: white 1px solid;
  border-bottom: lightgray 1px solid;
}
table {
  width: 100%;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  border: none;
}
input {
  border: none;
}
