// This file is the ONLY style-sheet imported by the app.
// It is best to define styles for standard elements here.
@use "./reset.scss";
@use "./classes.scss";
:root {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  flex: auto;
  font-size: 1em;
}
html,
body {
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}
.body-wrapper {
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

em {
  // @apply italic;
  font-style: italic;
}

input {
  padding-bottom: 0;
}
